@font-face {
  font-family: "Roboto Regular";
  src: url("../roboto-regular.woff2") format("woff2");
}

body {
  background-color: #fff;
  color: #000;
  opacity: 0.87;
  cursor: default;
}
.dark-mode {
  background-color: #121212 !important;
  color: #fff !important;
}
.dark-mode .tone5 {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgb(255, 255, 255) 100%
  );
  padding-top: 1em;
  background-clip: text;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#welcome {
  font-family: "Roboto Regular", Fallback, sans-serif;
  font-size: 2em;
  /* padding-top: 2em; */
  position: absolute;
  top: 2em;
}

#panda {
  position: absolute;
  bottom: 0px;
  opacity: 0.87;
  transition: opacity 0.195s ease-in-out;
  cursor: pointer;
}

#panda:hover {
  opacity: 1;
}

#panda.fade {
  opacity: 0;
  cursor: default !important;
}

.char {
  margin: 0.1em;
  font-size: 20rem;
  cursor: pointer;
  /* align-self: initial; */
}

.pinyin,
.english {
  font-family: "Roboto Regular", Fallback, sans-serif;
  font-size: 2.5rem;
  margin: 0.1em;
}
.english {
  font-weight: bold;
  margin: 0.1em 3em !important;
}

.hide {
  display: none;
}

/* Pleco Tone Colors */
.tone1 {
  /* background-image: rgb(227,0,0); */
  background: linear-gradient(
    180deg,
    rgba(227, 0, 0, 0.5) 0%,
    rgba(227, 0, 0, 1) 100%
  );
}
.tone2 {
  background: linear-gradient(
    180deg,
    rgba(2, 179, 28, 0.5) 0%,
    rgba(2, 179, 28, 1) 100%
  );
}
.tone3 {
  background: linear-gradient(
    180deg,
    rgba(36, 32, 255, 0.5) 0%,
    rgb(36, 32, 255) 100%
  );
}
.tone4 {
  background: linear-gradient(
    180deg,
    rgba(160, 16, 218, 0.5) 0%,
    rgb(160, 16, 218) 100%
  );
}
.tone5 {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

.tone1,
.tone2,
.tone3,
.tone4,
.tone5 {
  padding-top: 1em;
  background-clip: text;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
