@font-face {
  font-family: "Roboto Regular";
  src: url("../roboto-regular.woff2") format("woff2");
}

body {
  user-select: none;
  font-family: "Roboto Regular", Fallback, sans-serif;
  zoom: 1.6;
  width: 150px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(246, 246, 246, 1) 100%
  );
  line-height: 1em;
}

.dark-mode {
  background: linear-gradient(180deg, #474747 0%, #202020 100%) !important;
  color: #fff !important;
}

.dark-mode #patreon {
  color: white;
}

/* multiple select */
/* #hsk {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
} */

input[type="button"] {
  font-family: "Roboto Regular", Fallback, sans-serif;
  margin: 0 0 5px 0;
}

input[type="checkbox"] {
  font-family: "Roboto Regular", Fallback, sans-serif;
  vertical-align: middle;
  margin: 3px 0;
}

label {
  font-weight: normal;
}

/* selecting by #coloring id doesn't work */
/* label:last-of-type {
  color: gray !important;
} */

select:hover {
  background-color: #eee;
}

#patreon {
  background: none;
  border: none;
  text-align: center;
  font-size: 0.7em;
  margin-top: 3px;
  margin-bottom: 0;
}

#patreon,
input[type="button"],
input[type="checkbox"],
select,
.cb {
  cursor: pointer;
}

/* TODO: add HSK 3.0 and delete this style*/
#version {
  cursor: unset !important;
}

#patron {
  color:rgba(255, 66, 77, 1)
}
